#titulo{
    padding-left:20px;
    font-family: 'Rochester', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    height: 62px;
}

#bant{
    padding-top: 29px;
}

#cantidad{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
}

#border{
    border: 1px solid #000000;
}

#banner{
    padding-top: 24px;
    padding-bottom: 11px;
    height: 344px;
    width: 1460px;
}

#navb{
    padding-top: 11px;
}

.Roboto{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    padding-top: 30px;
}

#price{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}

#descripcion1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}

.card-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
}

.card-img-top{
    height: 140px;
    width: 175px;
    object-fit: cover;
    padding-top: 10px;
}

.btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}

#central{
    margin-top: 30px;
    margin-right: 143px;
    margin-left: 168px;
    border-bottom: 1px solid #000000;
}

.card{
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 12px;
}

.btn{
    background-color: #F2A950;
    border: #F2A950;
    color: black;
    position: relative;
    box-sizing: border-box;
    margin-left: 80px;
    margin-right: 80px;
}

#restar{
    background-color: #FDCD55;
    border: #FDCD55;
    color: white;
    width: 31px;
    height: 32px;
    margin-right: 9px;
}

#sumar{
    background-color: #FDCD55;
    border: #FDCD55;
    color: white;
    width: 31px;
    height: 32px;
}

#cancel{
    background-color: #8C162C;
    border: black;
    color: white;
    width: 143px;
    height: 48px;
}

#confirm{
    background-color: #708C32;
    border: black;
    color: white;
    width: 143px;
    height: 48px;
    margin-left:10px;
}

#can{
    background-color: #8C162C;
    border: black;
    color: white;
    width: 393px;
    height: 48px;
    margin-top:10px;
    margin-right: 50px;
}

#con{
    background-color: #708C32;
    border: black;
    color: white;
    width: 345px;
    height: 48px;
    margin-right: 50px;
}

#footer{
    padding-top: 30px;
    padding-bottom:13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

#tabla1{
    padding-left: 300px;
    padding-right:300px;
    padding-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

#pop{
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    width: 1001px;
    height: 447px;
    margin-left: 50%;
}

#ptitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    padding-top: 42px;
    padding-left: 43px;
    margin-top: 42px;
    margin-left: 43px;
    margin-right: 43px;
    margin-bottom: 20px;
    border-bottom: 1px solid #000000;
}

#pcontent{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin-left: 45px;

}

.card-title{
    align-items: center;
}

#btn0{
    padding-left: 53px;
}

#btn1{
    padding-left: 53px;
}

#btn2{
    padding-left: 53px;
}

#btn3{
    padding-left: 53px;
}

#btn4{
    padding-left: 53px;
}